<h1>Novad</h1>

<a href="<%= authors_path %>"><div class="nav-box authors"><h2>Authors</h2></div>'</a>
<a href="<%= novels_path %>"><div class="nav-box novels"><h2>Novels</h2></div>'</a>
<a href="<%= genres_path %>"><div class="nav-box genres"><h2>Genres</h2></div>'</a>
