/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// Prevent Bootstrap from collapsing menu so early
$grid-float-breakpoint: 500px;

@import "bootstrap-sprockets";
@import "bootstrap";

div#main {
   margin: 100px;
}

img.small-cover {
    width: 200px;
    height: 300px;
}

img.cover {
    width: 400px;
    height: 600px;
}

div.inline {
    display: inline-block;
    vertical-align: text-top;
}

div.novel-item {
   margin-top: 14px;

   .cover {
      margin-right: 10px;
   }

   .details {
      width: 400px;
   }
}

.btn {
   margin: 4px;
}

#main div.nav-box {
   width: 240px;
   height: 160px;
   background: #F99;
   text-align: center;
   display: inline-block;

   h2 {
      position: relative;
      top: 40%;
      transform: translateY(-50%);
      color: black;
   }

   &.authors {
      background: #F99;
   }

   &.novels {
      background: #CD9;
   }

   &.genres {
      background: #99D;
   }
}

